body{
    margin: 0;
    background: rgb(238, 238, 238);
}
.body::-webkit-scrollbar {
    display: none;
}
.body {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.body::-webkit-scrollbar { 
    width : 0 !important /* Webkit */
} 
.body {
    -ms-overflow-style : none;
    overflow : -moz-hidden-unscrollable; 
}